body{font-family:Geneva, Tahoma, sans-serif;font-size:16px;margin:0;padding:0}.hidden{display:none}.vote{max-width:16rem;margin:0 auto}.vote label{display:block}.vote button:not([type=submit]){width:100%;margin-top:1rem}.vote form{margin-top:1rem}.vote input[type=text]{font-size:18px}

